.about {
  padding: 61px 0;
  background: var(--main-color-2);

  @include small-tablet{
    padding: 40px 0;
  }
  &__container {
    display: flex;
    gap: 70px;
    @include small-tablet{
        gap: 40px;
    }
    @include mobile{
        flex-direction: column;
        align-items: center;
    }
    }
  

  &__title {
    font-family: var(--second-font);
    font-weight: 400;
    letter-spacing: 0.05em;
    color: var(--main-color-3);
  }

&__text-box{
    @include flex-column;
    gap: 20px;
    max-width: 825px;
}

  &__text {
    font-family: var(--main-font);
    font-weight: 400;
    letter-spacing: 0.05em;
    line-height: 1.42;
    color: var(--main-color-3);
  }
}
