.header {
  padding: 30px 0;

  @include tablet{
    position: fixed;
    height: 70px;
    z-index: 4;
    right: 0;
    left: 0;
    background: var(--main-color-3);
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
  }
  &__container {
    @include flex-justify-between;
    align-items: center;
  }

  &__logo {
    font-family: var(--second-font);
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.05em;
    color: var(--main-color-2);
  }

  &__menu-list {
    @include flex-justify-center;
    gap: 44px;
    transition: left var(--transition);
  }
  @include tablet {
    &__menu-list {
      @include flex-column;
      position: fixed;
      background: var(--main-color-3);
      top: 0;
      bottom: 0dvh;
      right: 0;
      left: 100dvw;
      z-index: var(--z-index-4);
      text-align: center;
      gap: 32px;
      justify-content: start;
      padding-top: 220px;
    }
    .burger-open {
      left: 60dvw;
    }
  }

  @include mobile {
    .burger-open {
      left: 45dvw;
    }
  }
  @include small-mobile {
    .burger-open {
      left: 30dvw;
    }
  }
  &__menu-link {
    font-family: var(--main-font);
    font-weight: 600;
    letter-spacing: 0.05em;
    color: var(--main-color-2);
    white-space: nowrap;
    position: relative;
    padding: 4px 0;
    display: inline-block;
    overflow: hidden;
    &::before,
    &::after {
      content: '';
      width: 100%;
      height: 2px;
      background: var(--main-color-2);
      display: block;
      position: absolute;
    }
    &::before {
      top: 0;
      left: -100%;
      transition: left var(--transition);
    }
    &::after {
      bottom: 0;
      right: -100%;
      transition: right var(--transition);
    }

    &:hover{
      &::before {
        left: 0;
      }
      &::after {
        right: 0;
      }
    }
  }
}
