.hero {
  padding-top: 44px;
  padding-bottom: 108px;

  @include tablet {
    padding: 22px 0 40px;
  }

  &__container {
    @include mobile {
      padding: 0 20px;
      padding-top: 70px;
    }
  }

  &__upper {
    background: url('../assets/content/images/hero-background.jpg') no-repeat;
    position: relative;
    z-index: var(--z-index-2);
    padding: 100px 72px 100px;
    border-radius: 30px 30px 300px 30px;
    overflow: hidden;
    @include flex-align-center;
    @include tablet {
      border-radius: 30px 30px 30px 30px;
    }
    @include mobile {
      padding: 70px 30px 70px;
    }
    @include small-mobile {
      border-radius: 30px 30px 30px 30px;
    }
  }

  &__upper-content {
    @include flex-column;
    @include tablet {
      margin: 0 auto;
    }
  }
  &__title {
    font-family: var(--second-font);
    font-weight: 400;
    letter-spacing: 0.05em;
    color: var(--main-color-3);
    max-width: 474px;
    margin-bottom: 27px;
    line-height: 1.25;
    @include tablet {
      max-width: 460px;
    }
  }
  &__text {
    font-family: var(--main-font);
    font-weight: 400;
    letter-spacing: 0.05em;
    color: var(--main-color-3);
    max-width: 381px;
    margin-bottom: 86px;
    line-height: 1.42;
    @include tablet {
      margin-bottom: 40px;
    }
  }

  &__upper-image {
    @include tablet {
      display: none;
    }
  }

  &__bottom {
    display: flex;
    padding-top: 137px;
    gap: 50px;
    @include tablet {
      flex-direction: column;
      align-items: center;
    }
    @include small-tablet {
      padding-top: 80px;
    }
    @include mobile {
      padding-top: 40px;
    }
  }

  &__bottom-cards-list {
    display: flex;
    gap: 12px;
    @include tablet {
      gap: 40px;
    }

    @include small-tablet {
      gap: 12px;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__bottom-cards-item {
    position: relative;
    height: 228px;
    max-width: 190px;
    animation: cards-swipe alternate 3s ease-in-out;
    transform-origin: 50% 16px;
    transition: transform var(--transition);

    &::before {
      content: '';
      width: 3px;
      height: 160px;
      background: var(--main-color-2);
      display: block;
      position: absolute;
      top: -137px;
      left: 50%;
      z-index: 2;
      transform: translateX(-50%);
      @include small-tablet {
        display: none;
      }
    }

    &:nth-child(2) {
      margin-top: 100px;
      @include small-tablet {
        margin-top: 0;
      }
      &::before {
        height: 260px;
        top: -239px;
      }
    }

    &:last-child {
      &::before {
        @include tablet {
          height: 170px;
          top: -147px;
        }
      }
    }

    &:hover {
      transform: translateY(-20px);
      @include mobile {
        transform: none;
      }
    }
  }


  .first-swiper-cards,
  .second-swiper-cards,
  .thirst-swiper-cards {
    overflow: visible;
  }
  .cards-wrapper-swiper {
    box-sizing: border-box;
  }
  &__bottom-cards-desc,
  &__bottom-cards-content {
    @include flex-column;
    align-items: center;
    padding: 19px;
    height: 228px;
    background: var(--main-color-3);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
    transition-property: all;
    border-radius: 30px;
    cursor: pointer;
  }

  .swiper-3d .swiper-slide-shadow-left,
  .swiper-3d .swiper-slide-shadow-right {
    background: none;
  }

  @keyframes cards-swipe {
    0% {
      transform: translateY(-500px);
    }
    25% {
      transform: translateY(0px);
    }

    35% {
      transform: translateY(-70px);
    }
    45% {
      transform: translateY(0px);
    }
    55% {
      transform: translateY(-40px);
    }
    65% {
      transform: translateY(0px);
    }
  }
  .cards-circle {
    margin-bottom: 54px;
  }

  &__bottom-cards-logo {
    margin-bottom: 46px;
  }

  &__bottom-cards-title {
    font-family: var(--second-font);
    font-weight: 400;
    letter-spacing: 0.05em;
    color: var(--main-color-2);
    max-width: 211px;
  }
  &__bottom-cards-desc {
    .cards-circle {
      margin-bottom: 22px;
    }
  }

  &__bottom-cards-desc-text {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.05em;
    color: var(--main-color-2);
  }
  &__bottom-cards-title,
  &__bottom-info-title,
  &__bottom-info-text {
    color: var(--main-color-2);
  }

  &__bottom-info {
    max-width: 438px;
    @include flex-column;
    gap: 22px;
  }

  &__bottom-info-title {
    font-family: var(--second-font);
    font-weight: 400;
    letter-spacing: 0.05em;
    line-height: 1.25;
  }

  &__bottom-info-text {
    font-family: var(--main-font);
    font-weight: 400;
    letter-spacing: 0.05em;
    line-height: 1.42;
  }
}
