.order {
  padding-bottom: 140px;
  padding-left: 15px;
  padding-right: 15px;
  @include mobile {
      padding-left: 0px;
      padding-right: 0px;
    
  }
  @include tablet{
    padding-bottom: 0;
  }
  &__container {
    @include flex-align-center;
    background: url('./../assets/content/images/order-background.jpg') no-repeat;
    background-size: cover;
    padding: 107px 72px 130px 72px;
    border-radius: 30px;
    overflow: hidden;
    gap: 92px;
    @include tablet {
      padding: 50px 50px 70px 50px;
      gap: 40px;
    }
    @include small-tablet {
      flex-direction: column-reverse;
    }
    @include mobile{
        border-radius: 0;
    }
  }

  &__form {
    padding: 62px 92px 65px 92px;
    border: 1px solid rgba(57, 55, 55, 0.1);
    border-radius: 30px;
    backdrop-filter: blur(29.399999618530273px);
    background: rgba(246, 247, 242, 0.2);
    @include flex-column;
    gap: 40px;
    @include mobile {
      padding: 52px 50px 55px 50px;
    }
    input {
      font-family: var(--main-font);
      font-weight: 600;
      font-size: 14px;
      color: var(--main-color-3);
      border-bottom: 1px solid #f6f7f2;
      background: transparent;
      border-radius: 0;
      @include small-tablet{
        font-size: 16px;
      }
      &::placeholder {
        opacity: 0;
        transition: opacity var(--transition);
        color: var(--main-color-3);
      }
      &:focus {
        &::placeholder {
          opacity: 1;
        }
      }
    }
    label {
      @include flex-column;
      position: relative;
      font-family: var(--main-font);
      font-weight: 600;
      font-size: 14px;

      span {
        position: absolute;
        top: 0px;
        transition: top var(--transition);
        white-space: nowrap;
        z-index: -1;
      }

      input:focus ~ span {
        top: -20px;
      }
      input:valid ~ span {
        top: -20px;
      }

      input:focus input::placeholder {
        opacity: 1;
      }
    }
  }

  &__form-btn-send {
    padding: 10px 55px;
    border-radius: 10px;
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 14px;
    color: var(--main-color-3);
    background: var(--main-color-2);
    transition:
      background var(--transition),
      color var(--transition);
    &:hover {
      background: var(--main-color-3);
      color: var(--main-color-2);
    }
  }

  &__title {
    font-family: var(--second-font);
    font-weight: 400;
    letter-spacing: 0.05em;
    line-height: 1.25;
    color: var(--main-color-3);
    margin-bottom: 15px;
    text-align: center;
  }

  &__text {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.05em;
    line-height: 1.42;
    color: var(--main-color-3);
    text-align: center;
    @include tablet {
      font-size: 16px;
    }
  }
}
