html {
  box-sizing: border-box;
  font-weight: 400;
  font-size: 15px;
  scroll-behavior: smooth !important;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.body {
  color: var(--main-color-3);

  &--fixed {
    overflow-y: hidden;
  }
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
}

input {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

label {
  cursor: pointer;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  position: relative;
  background: var(--main-color-3);
}
.container {
  margin: 0 auto;
  padding: 0 var(--container-padding);
  max-width: calc(var(--container-width) + (var(--container-padding) * 2));
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}
.hidden {
  font-size: 0;
  opacity: 0;
  visibility: hidden;
}

.visible {
  opacity: 1;
  visibility: visible;
}

.overlay {
  position: fixed;
  inset: 0;
  z-index: var(--z-index-4);
  background: #333333af;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity var(--transition),
    visibility var(--transition);
}


