<section id="about" class="main__about about">
  <div class="container about__container">
    <h2 class="about__title title-h2">Немного о нашем магазине</h2>
    <div class="about__text-box">
      <p class="about__text text-default">
        KULEMIN STORE начался с идеи создать магазин, где футбольные энтузиасты
        могли бы найти качественную экипировку. Основатель, бывший
        профессиональный футболист, заметил, что многие спортсмены испытывают
        трудности с поиском нужных товаров.
      </p>
      <p class="about__text text-default">
        Магазн быстро завоевал доверие клиентов благодаря высокому качеству
        продукции и отличному обслуживанию. Однажды, в ответ на запрос клиента,
        KULEMIN STORE организовал специальную акцию, предлагая уникальные товары
        и скидки, что привлекло внимание многих новых покупателей.
      </p>
      <p class="about__text text-default">
        Сегодня KULEMIN STORE продолжает расти, поддерживая футбольные мечты и
        помогая каждому стать лучше на поле.
      </p>
    </div>
  </div>
</section>
