<section id="collection" class="main__collection collection">
  <div class="container collection__container">
    <h2 class="collection__title">Коллекции</h2>
    <div class="swiper collection__swiper">
      <div class="swiper-wrapper collection__swiper-wrapper">
        <div class="swiper-slide">
          <div class="collection__swiper-item-inner first--background" data-collection-item>
            <h3 class="collection__swiper-title">Бутсы</h3>
            <p class="collection__swiper-text text-default">
              Наши футбольные бутсы обеспечивают идеальное сочетание комфорта и
              производительности. Выбирайте из моделей от ведущих брендов,
              подходящих для различных типов поля и стилей игры.
            </p>
         
              <img
                src="./assets/content/images/fboots.png"
                width="286"
                height="190"
                alt=""
                class=""
              />
            
            <div class="collection__inside-card-btn btn-active">
                <a href="#order" class="collection__btn btn">Оформить заказ</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide collection__swiper-item">
          <div class="collection__swiper-item-inner second--background" data-collection-item>
            <h3 class="collection__swiper-title">Форма</h3>
            <p class="collection__swiper-text text-default">
              Футбольная форма отличается высоким качеством материалов и
              современным дизайном. Она обеспечивает отличную вентиляцию и
              свободу движений, что позволяет сосредоточиться на игре.
            </p>
          
              <img
                src="./assets/content/images/f-t-shirt.png"
                width="191"
                height="191"
                alt=""
              />
           
            <div class="collection__inside-card-btn btn-active">
                <a href="#order" class="collection__btn btn">Оформить заказ</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide collection__swiper-item">
          <div class="collection__swiper-item-inner third--background" data-collection-item>
            <h3 class="collection__swiper-title">Мячи</h3>
            <p class="collection__swiper-text text-default">
              Наши футбольные мячи подходят как для тренировок, так и для
              матчей. Они отличаются прочностью и отличными игровыми
              характеристиками, что делает их идеальным выбором для игроков
              любого уровня.
            </p>
            <img
              src="./assets/content/images/fball.png"
              width="127"
              height="169"
              alt=""
            />
            <div class="collection__inside-card-btn btn-active">
              <a href="#order" class="collection__btn btn">Оформить заказ</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide collection__swiper-item">
          <div class="collection__swiper-item-inner fourth-background" data-collection-item>
            <h3 class="collection__swiper-title">Перчатки</h3>
            <p class="collection__swiper-text text-default">
              В нашем ассортименте вы найдете вратарские перчатки, которые
              обеспечивают надежное сцепление и защиту. Модели подходят для
              разных погодных условий и обеспечивают максимальный комфорт во
              время игры.
            </p>
            <img
              src="./assets/content/images/fgloves.png"
              width="182"
              height="182"
              alt=""
            />
            <div class="collection__inside-card-btn btn-active">
                <a href="#order" class="collection__btn btn">Оформить заказ</a>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-btns-wrapper">
        <button class="button-prev">
          <svg
            width="30px"
            height="30px"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M14.2893 5.70708C13.8988 5.31655 13.2657 5.31655 12.8751 5.70708L7.98768 10.5993C7.20729 11.3805 7.2076 12.6463 7.98837 13.427L12.8787 18.3174C13.2693 18.7079 13.9024 18.7079 14.293 18.3174C14.6835 17.9269 14.6835 17.2937 14.293 16.9032L10.1073 12.7175C9.71678 12.327 9.71678 11.6939 10.1073 11.3033L14.2893 7.12129C14.6799 6.73077 14.6799 6.0976 14.2893 5.70708Z"
              fill="#fff"
            />
          </svg>
        </button>
        <button class="button-next">
          <svg
            width="30px"
            height="30px"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M9.71069 18.2929C10.1012 18.6834 10.7344 18.6834 11.1249 18.2929L16.0123 13.4006C16.7927 12.6195 16.7924 11.3537 16.0117 10.5729L11.1213 5.68254C10.7308 5.29202 10.0976 5.29202 9.70708 5.68254C9.31655 6.07307 9.31655 6.70623 9.70708 7.09676L13.8927 11.2824C14.2833 11.6729 14.2833 12.3061 13.8927 12.6966L9.71069 16.8787C9.32016 17.2692 9.32016 17.9023 9.71069 18.2929Z"
              fill="#fff"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
