<section class="main__hero hero">
  <div class="container hero__container">
    <div class="hero__upper">
      <div class="hero__upper-content">
        <h1 class="hero__title title-h1">
          КULEMIN STORE — каждый шаг к победе
        </h1>
        <p class="hero__text text-default">
          Мы стремимся обеспечить комфорт и стиль на поле, чтобы каждый игрок
          мог раскрыть свой потенциал и достичь новых высот в игре. Поддержите
          свои футбольные мечты с нами!
        </p>
        <button class="hero__btn btn">Оформить заказ</button>
      </div>
      <div class="hero__upper-image">
        <img
          src="./assets/content/images/football-shoes.png"
          width="450"
          height="308"
          alt="Картинки с бутсами"
        />
      </div>
    </div>
    <div class="hero__bottom">
      <div class="hero__bottom-cards">
        <div class="hero__bottom-cards-list">
          <div class="hero__bottom-cards-item" data-card>
            <div class="swiper first-swiper-cards">
              <div class="swiper-wrapper cards-wrapper-swiper">
                <div class="swiper-slide hero__bottom-cards-content">
                  <img
                    src="./assets/content/icons/cards-circle.svg"
                    alt=""
                    width="27"
                    height="27"
                    class="cards-circle"
                  />
                  <img
                    src="./assets/content/icons/store-logo.svg"
                    alt="Логотип магазина"
                    width="62"
                    height="29"
                    class="hero__bottom-cards-logo"
                  />
                  <h3 class="hero__bottom-cards-title title-h3">
                    Широкий ассортимент
                  </h3>
                </div>
                <div class="swiper-slide hero__bottom-cards-desc">
                  <img
                    src="./assets/content/icons/cards-circle.svg"
                    alt=""
                    width="27"
                    height="27"
                    class="cards-circle"
                  />
                  <p class="hero__bottom-cards-desc-text">
                    KULEMIN STORE предлагает разнообразные товары, включая
                    футбольные бутсы, форму и аксессуары от известных брендов.
                    Вы сможете найти всё необходимое для игры и тренировок в
                    одном месте.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="hero__bottom-cards-item" data-card>
            <div class="swiper second-swiper-cards">
              <div class="swiper-wrapper cards-wrapper-swiper">
                <div class="swiper-slide hero__bottom-cards-content">
                  <img
                    src="./assets/content/icons/cards-circle.svg"
                    alt=""
                    width="27"
                    height="27"
                    class="cards-circle"
                  />
                  <img
                    src="./assets/content/icons/store-logo.svg"
                    alt="Логотип магазина"
                    width="62"
                    height="29"
                    class="hero__bottom-cards-logo"
                  />
                  <h3 class="hero__bottom-cards-title title-h3">
                    Широкий ассортимент
                  </h3>
                </div>
                <div class="swiper-slide hero__bottom-cards-desc">
                  <img
                    src="./assets/content/icons/cards-circle.svg"
                    alt=""
                    width="27"
                    height="27"
                    class="cards-circle"
                  />
                  <p class="hero__bottom-cards-desc-text">
                    KULEMIN STORE предлагает разнообразные товары, включая
                    футбольные бутсы, форму и аксессуары от известных брендов.
                    Вы сможете найти всё необходимое для игры и тренировок в
                    одном месте.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="hero__bottom-cards-item" data-card>
            <div class="swiper thirst-swiper-cards">
              <!-- Additional required wrapper -->
              <div class="swiper-wrapper cards-wrapper-swiper">
                <!-- Slides -->
                <div class="swiper-slide hero__bottom-cards-content">
                  <img
                    src="./assets/content/icons/cards-circle.svg"
                    alt=""
                    width="27"
                    height="27"
                    class="cards-circle"
                  />
                  <img
                    src="./assets/content/icons/store-logo.svg"
                    alt="Логотип магазина"
                    width="62"
                    height="29"
                    class="hero__bottom-cards-logo"
                  />
                  <h3 class="hero__bottom-cards-title title-h3">
                    Широкий ассортимент
                  </h3>
                </div>
                <div class="swiper-slide hero__bottom-cards-desc">
                  <img
                    src="./assets/content/icons/cards-circle.svg"
                    alt=""
                    width="27"
                    height="27"
                    class="cards-circle"
                  />
                  <p class="hero__bottom-cards-desc-text">
                    KULEMIN STORE предлагает разнообразные товары, включая
                    футбольные бутсы, форму и аксессуары от известных брендов.
                    Вы сможете найти всё необходимое для игры и тренировок в
                    одном месте.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hero__bottom-info">
        <h2 class="hero__bottom-info-title title-h1">
          Почему стоит выбирать именно нас
        </h2>
        <p class="hero__bottom-info-text text-default">
          Если вы ищете идеальное место для покупки футбольной одежды и обуви,
          KULEMIN STORE — это отличный выбор.
        </p>
      </div>
    </div>
  </div>
</section>
