<section class="main__testimonials testimonials">
  <div class="container testimonials__container">
    <div class="testimonials__upper">
      <h3 class="testimonials__title title-h1">Что говорят наши клиенты</h3>
      <p class="testimonials__text text-default">
        Здесь вы можете прочитать отзывы реальных покупателей KULEMIN STORE. Они
        делятся своими впечатлениями от качества, удобства и стиля нашей
        продукции. Эти искренние мнения помогут вам убедиться, что мы предлагаем
        только лучшее для ваших футбольных нужд.
      </p>
    </div>
    <div class="testimonials___bottom">
      <div class="swiper testimonials__swiper">
        <div class="swiper-wrapper testimonials__swiper-wrapper">
          <div class="swiper-slide">
            <div class="testimonials__slide-inner">
              <div class="testimonials__slide-header">
                <div class="testimonials__slide-image-box">
                  <img
                    src="./assets/content/images/testi-item-1.jpg"
                    width="50"
                    height="50"
                    alt=""
                  />
                </div>
                <h4 class="testimonials__slide-title">
                  Футбольные бутсы Nike Phantom GX Luna
                </h4>
              </div>
              <div class="testimonials__slide-rating">
                <ul class="testimonials__slide-rating-list">
                  <li class="testimonials__slide-rating-item">
                    <svg
                      width="16"
                      height="14"
                      viewBox="0 0 16 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8 0L9.66306 5.11839H15.0449L10.6909 8.28173L12.354 13.4001L8 10.2368L3.64603 13.4001L5.3091 8.28173L0.955135 5.11839H6.33693L8 0Z"
                        fill="#FF5443"
                      />
                    </svg>
                  </li>
                  <li class="testimonials__slide-rating-item">
                    <svg
                      width="16"
                      height="14"
                      viewBox="0 0 16 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8 0L9.66306 5.11839H15.0449L10.6909 8.28173L12.354 13.4001L8 10.2368L3.64603 13.4001L5.3091 8.28173L0.955135 5.11839H6.33693L8 0Z"
                        fill="#FF5443"
                      />
                    </svg>
                  </li>
                  <li class="testimonials__slide-rating-item">
                    <svg
                      width="16"
                      height="14"
                      viewBox="0 0 16 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8 0L9.66306 5.11839H15.0449L10.6909 8.28173L12.354 13.4001L8 10.2368L3.64603 13.4001L5.3091 8.28173L0.955135 5.11839H6.33693L8 0Z"
                        fill="#FF5443"
                      />
                    </svg>
                  </li>
                  <li class="testimonials__slide-rating-item">
                    <svg
                      width="16"
                      height="14"
                      viewBox="0 0 16 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8 0L9.66306 5.11839H15.0449L10.6909 8.28173L12.354 13.4001L8 10.2368L3.64603 13.4001L5.3091 8.28173L0.955135 5.11839H6.33693L8 0Z"
                        fill="#FF5443"
                      />
                    </svg>
                  </li>
                  <li class="testimonials__slide-rating-item">
                    <svg
                      width="16"
                      height="14"
                      viewBox="0 0 16 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8 0L9.66306 5.11839H15.0449L10.6909 8.28173L12.354 13.4001L8 10.2368L3.64603 13.4001L5.3091 8.28173L0.955135 5.11839H6.33693L8 0Z"
                        fill="#FF5443"
                      />
                    </svg>
                  </li>
                </ul>
              </div>
              <p class="testimonials__slide-text">
                Бутсы топовые и очень красивые мне понравились 
              </p>
              <p class="testimonials__slide-author">
                <img
                  src="./assets/content/icons/testi-author-icon.svg"
                  alt=""
                  width="30"
                  height="30"
                />
                <span class="testimonials__slide-author-name">Антон А.</span>
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testimonials__slide-inner">
              <div class="testimonials__slide-header">
                <div class="testimonials__slide-image-box">
                  <img
                    src="./assets/content/images/testi-item-2.jpg"
                    width="50"
                    height="50"
                    alt=""
                  />
                </div>
                <h4 class="testimonials__slide-title">
                  Футбольные бутсы Adidas Predator 30
                </h4>
              </div>
              <div class="testimonials__slide-rating">
                <ul class="testimonials__slide-rating-list">
                  <li class="testimonials__slide-rating-item">
                    <svg
                      width="16"
                      height="14"
                      viewBox="0 0 16 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8 0L9.66306 5.11839H15.0449L10.6909 8.28173L12.354 13.4001L8 10.2368L3.64603 13.4001L5.3091 8.28173L0.955135 5.11839H6.33693L8 0Z"
                        fill="#FF5443"
                      />
                    </svg>
                  </li>
                  <li class="testimonials__slide-rating-item">
                    <svg
                      width="16"
                      height="14"
                      viewBox="0 0 16 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8 0L9.66306 5.11839H15.0449L10.6909 8.28173L12.354 13.4001L8 10.2368L3.64603 13.4001L5.3091 8.28173L0.955135 5.11839H6.33693L8 0Z"
                        fill="#FF5443"
                      />
                    </svg>
                  </li>
                  <li class="testimonials__slide-rating-item">
                    <svg
                      width="16"
                      height="14"
                      viewBox="0 0 16 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8 0L9.66306 5.11839H15.0449L10.6909 8.28173L12.354 13.4001L8 10.2368L3.64603 13.4001L5.3091 8.28173L0.955135 5.11839H6.33693L8 0Z"
                        fill="#FF5443"
                      />
                    </svg>
                  </li>
                  <li class="testimonials__slide-rating-item">
                    <svg
                      width="16"
                      height="14"
                      viewBox="0 0 16 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8 0L9.66306 5.11839H15.0449L10.6909 8.28173L12.354 13.4001L8 10.2368L3.64603 13.4001L5.3091 8.28173L0.955135 5.11839H6.33693L8 0Z"
                        fill="#FF5443"
                      />
                    </svg>
                  </li>
                  <li class="testimonials__slide-rating-item">
                    <svg
                      width="15"
                      height="14"
                      viewBox="0 0 15 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M7.1926 1.61803L8.38014 5.2729L8.4924 5.61839H8.85567H12.6986L9.58961 7.87722L9.29572 8.09075L9.40797 8.43624L10.5955 12.0911L7.48649 9.83228L7.1926 9.61875L6.89871 9.83228L3.78969 12.0911L4.97723 8.43624L5.08949 8.09075L4.7956 7.87722L1.68658 5.61839H5.52954H5.89281L6.00506 5.2729L7.1926 1.61803Z"
                        fill="#F6F7F2"
                        stroke="#FF5443"
                      />
                    </svg>
                  </li>
                </ul>
              </div>
              <p class="testimonials__slide-text">
                Сыну очень понравились. В размер, как в размерной сетке длина
                стопы указана, так и бутсы заказали. Но только на узкую ногу! 
              </p>
              <p class="testimonials__slide-author">
                <img
                  src="./assets/content/icons/testi-author-icon.svg"
                  alt=""
                />
                <span class="testimonials__slide-author-name">Павел Ф.</span>
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testimonials__slide-inner">
              <div class="testimonials__slide-header">
                <div class="testimonials__slide-image-box">
                  <img
                    src="./assets/content/images/testi-item-3.jpg"
                    width="50"
                    height="50"
                    alt=""
                  />
                </div>
                <h4 class="testimonials__slide-title">Шорты Nike</h4>
              </div>
              <div class="testimonials__slide-rating">
                <ul class="testimonials__slide-rating-list">
                  <li class="testimonials__slide-rating-item">
                    <svg
                      width="16"
                      height="14"
                      viewBox="0 0 16 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8 0L9.66306 5.11839H15.0449L10.6909 8.28173L12.354 13.4001L8 10.2368L3.64603 13.4001L5.3091 8.28173L0.955135 5.11839H6.33693L8 0Z"
                        fill="#FF5443"
                      />
                    </svg>
                  </li>
                  <li class="testimonials__slide-rating-item">
                    <svg
                      width="16"
                      height="14"
                      viewBox="0 0 16 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8 0L9.66306 5.11839H15.0449L10.6909 8.28173L12.354 13.4001L8 10.2368L3.64603 13.4001L5.3091 8.28173L0.955135 5.11839H6.33693L8 0Z"
                        fill="#FF5443"
                      />
                    </svg>
                  </li>
                  <li class="testimonials__slide-rating-item">
                    <svg
                      width="16"
                      height="14"
                      viewBox="0 0 16 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8 0L9.66306 5.11839H15.0449L10.6909 8.28173L12.354 13.4001L8 10.2368L3.64603 13.4001L5.3091 8.28173L0.955135 5.11839H6.33693L8 0Z"
                        fill="#FF5443"
                      />
                    </svg>
                  </li>
                  <li class="testimonials__slide-rating-item">
                    <svg
                      width="16"
                      height="14"
                      viewBox="0 0 16 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8 0L9.66306 5.11839H15.0449L10.6909 8.28173L12.354 13.4001L8 10.2368L3.64603 13.4001L5.3091 8.28173L0.955135 5.11839H6.33693L8 0Z"
                        fill="#FF5443"
                      />
                    </svg>
                  </li>
                  <li class="testimonials__slide-rating-item">
                    <svg
                      width="16"
                      height="14"
                      viewBox="0 0 16 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8 0L9.66306 5.11839H15.0449L10.6909 8.28173L12.354 13.4001L8 10.2368L3.64603 13.4001L5.3091 8.28173L0.955135 5.11839H6.33693L8 0Z"
                        fill="#FF5443"
                      />
                    </svg>
                  </li>
                </ul>
              </div>
              <p class="testimonials__slide-text">
                Шорты пришли быстро Упакованы отлично Хорошо сидят
              </p>
              <p class="testimonials__slide-author">
                <img
                  src="./assets/content/icons/testi-author-icon.svg"
                  alt=""
                />
                <span class="testimonials__slide-author-name"
                  >Александр К.</span
                >
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testimonials__slide-inner">
              <div class="testimonials__slide-header">
                <div class="testimonials__slide-image-box">
                  <img
                    src="./assets/content/images/testi-item-4.jpg"
                    width="50"
                    height="50"
                    alt=""
                  />
                </div>
                <h4 class="testimonials__slide-title">
                  Сороконожки Mizuno Morelia
                </h4>
              </div>
              <div class="testimonials__slide-rating">
                <ul class="testimonials__slide-rating-list">
                  <li class="testimonials__slide-rating-item">
                    <svg
                      width="16"
                      height="14"
                      viewBox="0 0 16 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8 0L9.66306 5.11839H15.0449L10.6909 8.28173L12.354 13.4001L8 10.2368L3.64603 13.4001L5.3091 8.28173L0.955135 5.11839H6.33693L8 0Z"
                        fill="#FF5443"
                      />
                    </svg>
                  </li>
                  <li class="testimonials__slide-rating-item">
                    <svg
                      width="16"
                      height="14"
                      viewBox="0 0 16 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8 0L9.66306 5.11839H15.0449L10.6909 8.28173L12.354 13.4001L8 10.2368L3.64603 13.4001L5.3091 8.28173L0.955135 5.11839H6.33693L8 0Z"
                        fill="#FF5443"
                      />
                    </svg>
                  </li>
                  <li class="testimonials__slide-rating-item">
                    <svg
                      width="16"
                      height="14"
                      viewBox="0 0 16 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8 0L9.66306 5.11839H15.0449L10.6909 8.28173L12.354 13.4001L8 10.2368L3.64603 13.4001L5.3091 8.28173L0.955135 5.11839H6.33693L8 0Z"
                        fill="#FF5443"
                      />
                    </svg>
                  </li>
                  <li class="testimonials__slide-rating-item">
                    <svg
                      width="16"
                      height="14"
                      viewBox="0 0 16 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8 0L9.66306 5.11839H15.0449L10.6909 8.28173L12.354 13.4001L8 10.2368L3.64603 13.4001L5.3091 8.28173L0.955135 5.11839H6.33693L8 0Z"
                        fill="#FF5443"
                      />
                    </svg>
                  </li>
                  <li class="testimonials__slide-rating-item">
                    <svg
                      width="16"
                      height="14"
                      viewBox="0 0 16 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8 0L9.66306 5.11839H15.0449L10.6909 8.28173L12.354 13.4001L8 10.2368L3.64603 13.4001L5.3091 8.28173L0.955135 5.11839H6.33693L8 0Z"
                        fill="#FF5443"
                      />
                    </svg>
                  </li>
                </ul>
              </div>
              <p class="testimonials__slide-text">
                Выглядят очень хорошо, ещё не пробовал на тренировке, но думаю
                всё будет отлично. Можете смело брать.
              </p>
              <p class="testimonials__slide-author">
                <img
                  src="./assets/content/icons/testi-author-icon.svg"
                  alt=""
                />
                <span class="testimonials__slide-author-name">Антон А.</span>
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testimonials__slide-inner">
              <div class="testimonials__slide-header">
                <div class="testimonials__slide-image-box">
                  <img
                    src="./assets/content/images/testi-item-1.jpg"
                    width="50"
                    height="50"
                    alt=""
                  />
                </div>
                <h4 class="testimonials__slide-title">
                  Футбольные бутсы Nike Phantom GX Luna
                </h4>
              </div>
              <div class="testimonials__slide-rating">
                <ul class="testimonials__slide-rating-list">
                  <li class="testimonials__slide-rating-item">
                    <svg
                      width="16"
                      height="14"
                      viewBox="0 0 16 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8 0L9.66306 5.11839H15.0449L10.6909 8.28173L12.354 13.4001L8 10.2368L3.64603 13.4001L5.3091 8.28173L0.955135 5.11839H6.33693L8 0Z"
                        fill="#FF5443"
                      />
                    </svg>
                  </li>
                  <li class="testimonials__slide-rating-item">
                    <svg
                      width="16"
                      height="14"
                      viewBox="0 0 16 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8 0L9.66306 5.11839H15.0449L10.6909 8.28173L12.354 13.4001L8 10.2368L3.64603 13.4001L5.3091 8.28173L0.955135 5.11839H6.33693L8 0Z"
                        fill="#FF5443"
                      />
                    </svg>
                  </li>
                  <li class="testimonials__slide-rating-item">
                    <svg
                      width="16"
                      height="14"
                      viewBox="0 0 16 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8 0L9.66306 5.11839H15.0449L10.6909 8.28173L12.354 13.4001L8 10.2368L3.64603 13.4001L5.3091 8.28173L0.955135 5.11839H6.33693L8 0Z"
                        fill="#FF5443"
                      />
                    </svg>
                  </li>
                  <li class="testimonials__slide-rating-item">
                    <svg
                      width="16"
                      height="14"
                      viewBox="0 0 16 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8 0L9.66306 5.11839H15.0449L10.6909 8.28173L12.354 13.4001L8 10.2368L3.64603 13.4001L5.3091 8.28173L0.955135 5.11839H6.33693L8 0Z"
                        fill="#FF5443"
                      />
                    </svg>
                  </li>
                  <li class="testimonials__slide-rating-item">
                    <svg
                      width="16"
                      height="14"
                      viewBox="0 0 16 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8 0L9.66306 5.11839H15.0449L10.6909 8.28173L12.354 13.4001L8 10.2368L3.64603 13.4001L5.3091 8.28173L0.955135 5.11839H6.33693L8 0Z"
                        fill="#FF5443"
                      />
                    </svg>
                  </li>
                </ul>
              </div>
              <p class="testimonials__slide-text">
                Бутсы топовые и очень красивые мне понравились 
              </p>
              <p class="testimonials__slide-author">
                <img
                  src="./assets/content/icons/testi-author-icon.svg"
                  alt=""
                />
                <span class="testimonials__slide-author-name">Антон А.</span>
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testimonials__slide-inner">
              <div class="testimonials__slide-header">
                <div class="testimonials__slide-image-box">
                  <img
                    src="./assets/content/images/testi-item-1.jpg"
                    width="50"
                    height="50"
                    alt=""
                  />
                </div>
                <h4 class="testimonials__slide-title">
                  Футбольные бутсы Nike Phantom GX Luna
                </h4>
              </div>
              <div class="testimonials__slide-rating">
                <ul class="testimonials__slide-rating-list">
                  <li class="testimonials__slide-rating-item">
                    <svg
                      width="16"
                      height="14"
                      viewBox="0 0 16 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8 0L9.66306 5.11839H15.0449L10.6909 8.28173L12.354 13.4001L8 10.2368L3.64603 13.4001L5.3091 8.28173L0.955135 5.11839H6.33693L8 0Z"
                        fill="#FF5443"
                      />
                    </svg>
                  </li>
                  <li class="testimonials__slide-rating-item">
                    <svg
                      width="16"
                      height="14"
                      viewBox="0 0 16 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8 0L9.66306 5.11839H15.0449L10.6909 8.28173L12.354 13.4001L8 10.2368L3.64603 13.4001L5.3091 8.28173L0.955135 5.11839H6.33693L8 0Z"
                        fill="#FF5443"
                      />
                    </svg>
                  </li>
                  <li class="testimonials__slide-rating-item">
                    <svg
                      width="16"
                      height="14"
                      viewBox="0 0 16 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8 0L9.66306 5.11839H15.0449L10.6909 8.28173L12.354 13.4001L8 10.2368L3.64603 13.4001L5.3091 8.28173L0.955135 5.11839H6.33693L8 0Z"
                        fill="#FF5443"
                      />
                    </svg>
                  </li>
                  <li class="testimonials__slide-rating-item">
                    <svg
                      width="16"
                      height="14"
                      viewBox="0 0 16 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8 0L9.66306 5.11839H15.0449L10.6909 8.28173L12.354 13.4001L8 10.2368L3.64603 13.4001L5.3091 8.28173L0.955135 5.11839H6.33693L8 0Z"
                        fill="#FF5443"
                      />
                    </svg>
                  </li>
                  <li class="testimonials__slide-rating-item">
                    <svg
                      width="16"
                      height="14"
                      viewBox="0 0 16 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8 0L9.66306 5.11839H15.0449L10.6909 8.28173L12.354 13.4001L8 10.2368L3.64603 13.4001L5.3091 8.28173L0.955135 5.11839H6.33693L8 0Z"
                        fill="#FF5443"
                      />
                    </svg>
                  </li>
                </ul>
              </div>
              <p class="testimonials__slide-text">
                Бутсы топовые и очень красивые мне понравились 
              </p>
              <p class="testimonials__slide-author">
                <img
                  src="./assets/content/icons/testi-author-icon.svg"
                  alt=""
                />
                <span class="testimonials__slide-author-name">Антон А.</span>
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testimonials__slide-inner">
              <div class="testimonials__slide-header">
                <div class="testimonials__slide-image-box">
                  <img
                    src="./assets/content/images/testi-item-1.jpg"
                    width="50"
                    height="50"
                    alt=""
                  />
                </div>
                <h4 class="testimonials__slide-title">
                  Футбольные бутсы Nike Phantom GX Luna
                </h4>
              </div>
              <div class="testimonials__slide-rating">
                <ul class="testimonials__slide-rating-list">
                  <li class="testimonials__slide-rating-item">
                    <svg
                      width="16"
                      height="14"
                      viewBox="0 0 16 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8 0L9.66306 5.11839H15.0449L10.6909 8.28173L12.354 13.4001L8 10.2368L3.64603 13.4001L5.3091 8.28173L0.955135 5.11839H6.33693L8 0Z"
                        fill="#FF5443"
                      />
                    </svg>
                  </li>
                  <li class="testimonials__slide-rating-item">
                    <svg
                      width="16"
                      height="14"
                      viewBox="0 0 16 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8 0L9.66306 5.11839H15.0449L10.6909 8.28173L12.354 13.4001L8 10.2368L3.64603 13.4001L5.3091 8.28173L0.955135 5.11839H6.33693L8 0Z"
                        fill="#FF5443"
                      />
                    </svg>
                  </li>
                  <li class="testimonials__slide-rating-item">
                    <svg
                      width="16"
                      height="14"
                      viewBox="0 0 16 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8 0L9.66306 5.11839H15.0449L10.6909 8.28173L12.354 13.4001L8 10.2368L3.64603 13.4001L5.3091 8.28173L0.955135 5.11839H6.33693L8 0Z"
                        fill="#FF5443"
                      />
                    </svg>
                  </li>
                  <li class="testimonials__slide-rating-item">
                    <svg
                      width="16"
                      height="14"
                      viewBox="0 0 16 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8 0L9.66306 5.11839H15.0449L10.6909 8.28173L12.354 13.4001L8 10.2368L3.64603 13.4001L5.3091 8.28173L0.955135 5.11839H6.33693L8 0Z"
                        fill="#FF5443"
                      />
                    </svg>
                  </li>
                  <li class="testimonials__slide-rating-item">
                    <svg
                      width="16"
                      height="14"
                      viewBox="0 0 16 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8 0L9.66306 5.11839H15.0449L10.6909 8.28173L12.354 13.4001L8 10.2368L3.64603 13.4001L5.3091 8.28173L0.955135 5.11839H6.33693L8 0Z"
                        fill="#FF5443"
                      />
                    </svg>
                  </li>
                </ul>
              </div>
              <p class="testimonials__slide-text">
                Бутсы топовые и очень красивые мне понравились 
              </p>
              <p class="testimonials__slide-author">
                <img
                  src="./assets/content/icons/testi-author-icon.svg"
                  alt=""
                />
                <span class="testimonials__slide-author-name">Антон А.</span>
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testimonials__slide-inner">
              <div class="testimonials__slide-header">
                <div class="testimonials__slide-image-box">
                  <img
                    src="./assets/content/images/testi-item-1.jpg"
                    width="50"
                    height="50"
                    alt=""
                  />
                </div>
                <h4 class="testimonials__slide-title">
                  Футбольные бутсы Nike Phantom GX Luna
                </h4>
              </div>
              <div class="testimonials__slide-rating">
                <ul class="testimonials__slide-rating-list">
                  <li class="testimonials__slide-rating-item">
                    <svg
                      width="16"
                      height="14"
                      viewBox="0 0 16 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8 0L9.66306 5.11839H15.0449L10.6909 8.28173L12.354 13.4001L8 10.2368L3.64603 13.4001L5.3091 8.28173L0.955135 5.11839H6.33693L8 0Z"
                        fill="#FF5443"
                      />
                    </svg>
                  </li>
                  <li class="testimonials__slide-rating-item">
                    <svg
                      width="16"
                      height="14"
                      viewBox="0 0 16 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8 0L9.66306 5.11839H15.0449L10.6909 8.28173L12.354 13.4001L8 10.2368L3.64603 13.4001L5.3091 8.28173L0.955135 5.11839H6.33693L8 0Z"
                        fill="#FF5443"
                      />
                    </svg>
                  </li>
                  <li class="testimonials__slide-rating-item">
                    <svg
                      width="16"
                      height="14"
                      viewBox="0 0 16 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8 0L9.66306 5.11839H15.0449L10.6909 8.28173L12.354 13.4001L8 10.2368L3.64603 13.4001L5.3091 8.28173L0.955135 5.11839H6.33693L8 0Z"
                        fill="#FF5443"
                      />
                    </svg>
                  </li>
                  <li class="testimonials__slide-rating-item">
                    <svg
                      width="16"
                      height="14"
                      viewBox="0 0 16 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8 0L9.66306 5.11839H15.0449L10.6909 8.28173L12.354 13.4001L8 10.2368L3.64603 13.4001L5.3091 8.28173L0.955135 5.11839H6.33693L8 0Z"
                        fill="#FF5443"
                      />
                    </svg>
                  </li>
                  <li class="testimonials__slide-rating-item">
                    <svg
                      width="16"
                      height="14"
                      viewBox="0 0 16 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8 0L9.66306 5.11839H15.0449L10.6909 8.28173L12.354 13.4001L8 10.2368L3.64603 13.4001L5.3091 8.28173L0.955135 5.11839H6.33693L8 0Z"
                        fill="#FF5443"
                      />
                    </svg>
                  </li>
                </ul>
              </div>
              <p class="testimonials__slide-text">
                Бутсы топовые и очень красивые мне понравились 
              </p>
              <p class="testimonials__slide-author">
                <img
                  src="./assets/content/icons/testi-author-icon.svg"
                  alt=""
                />
                <span class="testimonials__slide-author-name">Антон А.</span>
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testimonials__slide-inner">
              <div class="testimonials__slide-header">
                <div class="testimonials__slide-image-box">
                  <img
                    src="./assets/content/images/testi-item-1.jpg"
                    width="50"
                    height="50"
                    alt=""
                  />
                </div>
                <h4 class="testimonials__slide-title">
                  Футбольные бутсы Nike Phantom GX Luna
                </h4>
              </div>
              <div class="testimonials__slide-rating">
                <ul class="testimonials__slide-rating-list">
                  <li class="testimonials__slide-rating-item">
                    <svg
                      width="16"
                      height="14"
                      viewBox="0 0 16 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8 0L9.66306 5.11839H15.0449L10.6909 8.28173L12.354 13.4001L8 10.2368L3.64603 13.4001L5.3091 8.28173L0.955135 5.11839H6.33693L8 0Z"
                        fill="#FF5443"
                      />
                    </svg>
                  </li>
                  <li class="testimonials__slide-rating-item">
                    <svg
                      width="16"
                      height="14"
                      viewBox="0 0 16 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8 0L9.66306 5.11839H15.0449L10.6909 8.28173L12.354 13.4001L8 10.2368L3.64603 13.4001L5.3091 8.28173L0.955135 5.11839H6.33693L8 0Z"
                        fill="#FF5443"
                      />
                    </svg>
                  </li>
                  <li class="testimonials__slide-rating-item">
                    <svg
                      width="16"
                      height="14"
                      viewBox="0 0 16 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8 0L9.66306 5.11839H15.0449L10.6909 8.28173L12.354 13.4001L8 10.2368L3.64603 13.4001L5.3091 8.28173L0.955135 5.11839H6.33693L8 0Z"
                        fill="#FF5443"
                      />
                    </svg>
                  </li>
                  <li class="testimonials__slide-rating-item">
                    <svg
                      width="16"
                      height="14"
                      viewBox="0 0 16 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8 0L9.66306 5.11839H15.0449L10.6909 8.28173L12.354 13.4001L8 10.2368L3.64603 13.4001L5.3091 8.28173L0.955135 5.11839H6.33693L8 0Z"
                        fill="#FF5443"
                      />
                    </svg>
                  </li>
                  <li class="testimonials__slide-rating-item">
                    <svg
                      width="16"
                      height="14"
                      viewBox="0 0 16 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8 0L9.66306 5.11839H15.0449L10.6909 8.28173L12.354 13.4001L8 10.2368L3.64603 13.4001L5.3091 8.28173L0.955135 5.11839H6.33693L8 0Z"
                        fill="#FF5443"
                      />
                    </svg>
                  </li>
                </ul>
              </div>
              <p class="testimonials__slide-text">
                Бутсы топовые и очень красивые мне понравились 
              </p>
              <p class="testimonials__slide-author">
                <img
                  src="./assets/content/icons/testi-author-icon.svg"
                  alt=""
                />
                <span class="testimonials__slide-author-name">Антон А.</span>
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testimonials__slide-inner">
              <div class="testimonials__slide-header">
                <div class="testimonials__slide-image-box">
                  <img
                    src="./assets/content/images/testi-item-1.jpg"
                    width="50"
                    height="50"
                    alt=""
                  />
                </div>
                <h4 class="testimonials__slide-title">
                  Футбольные бутсы Nike Phantom GX Luna
                </h4>
              </div>
              <div class="testimonials__slide-rating">
                <ul class="testimonials__slide-rating-list">
                  <li class="testimonials__slide-rating-item">
                    <svg
                      width="16"
                      height="14"
                      viewBox="0 0 16 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8 0L9.66306 5.11839H15.0449L10.6909 8.28173L12.354 13.4001L8 10.2368L3.64603 13.4001L5.3091 8.28173L0.955135 5.11839H6.33693L8 0Z"
                        fill="#FF5443"
                      />
                    </svg>
                  </li>
                  <li class="testimonials__slide-rating-item">
                    <svg
                      width="16"
                      height="14"
                      viewBox="0 0 16 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8 0L9.66306 5.11839H15.0449L10.6909 8.28173L12.354 13.4001L8 10.2368L3.64603 13.4001L5.3091 8.28173L0.955135 5.11839H6.33693L8 0Z"
                        fill="#FF5443"
                      />
                    </svg>
                  </li>
                  <li class="testimonials__slide-rating-item">
                    <svg
                      width="16"
                      height="14"
                      viewBox="0 0 16 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8 0L9.66306 5.11839H15.0449L10.6909 8.28173L12.354 13.4001L8 10.2368L3.64603 13.4001L5.3091 8.28173L0.955135 5.11839H6.33693L8 0Z"
                        fill="#FF5443"
                      />
                    </svg>
                  </li>
                  <li class="testimonials__slide-rating-item">
                    <svg
                      width="16"
                      height="14"
                      viewBox="0 0 16 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8 0L9.66306 5.11839H15.0449L10.6909 8.28173L12.354 13.4001L8 10.2368L3.64603 13.4001L5.3091 8.28173L0.955135 5.11839H6.33693L8 0Z"
                        fill="#FF5443"
                      />
                    </svg>
                  </li>
                  <li class="testimonials__slide-rating-item">
                    <svg
                      width="16"
                      height="14"
                      viewBox="0 0 16 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8 0L9.66306 5.11839H15.0449L10.6909 8.28173L12.354 13.4001L8 10.2368L3.64603 13.4001L5.3091 8.28173L0.955135 5.11839H6.33693L8 0Z"
                        fill="#FF5443"
                      />
                    </svg>
                  </li>
                </ul>
              </div>
              <p class="testimonials__slide-text">
                Бутсы топовые и очень красивые мне понравились 
              </p>
              <p class="testimonials__slide-author">
                <img
                  src="./assets/content/icons/testi-author-icon.svg"
                  alt=""
                />
                <span class="testimonials__slide-author-name">Антон А.</span>
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testimonials__slide-inner">
              <div class="testimonials__slide-header">
                <div class="testimonials__slide-image-box">
                  <img
                    src="./assets/content/images/testi-item-1.jpg"
                    width="50"
                    height="50"
                    alt=""
                  />
                </div>
                <h4 class="testimonials__slide-title">
                  Футбольные бутсы Nike Phantom GX Luna
                </h4>
              </div>
              <div class="testimonials__slide-rating">
                <ul class="testimonials__slide-rating-list">
                  <li class="testimonials__slide-rating-item">
                    <svg
                      width="16"
                      height="14"
                      viewBox="0 0 16 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8 0L9.66306 5.11839H15.0449L10.6909 8.28173L12.354 13.4001L8 10.2368L3.64603 13.4001L5.3091 8.28173L0.955135 5.11839H6.33693L8 0Z"
                        fill="#FF5443"
                      />
                    </svg>
                  </li>
                  <li class="testimonials__slide-rating-item">
                    <svg
                      width="16"
                      height="14"
                      viewBox="0 0 16 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8 0L9.66306 5.11839H15.0449L10.6909 8.28173L12.354 13.4001L8 10.2368L3.64603 13.4001L5.3091 8.28173L0.955135 5.11839H6.33693L8 0Z"
                        fill="#FF5443"
                      />
                    </svg>
                  </li>
                  <li class="testimonials__slide-rating-item">
                    <svg
                      width="16"
                      height="14"
                      viewBox="0 0 16 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8 0L9.66306 5.11839H15.0449L10.6909 8.28173L12.354 13.4001L8 10.2368L3.64603 13.4001L5.3091 8.28173L0.955135 5.11839H6.33693L8 0Z"
                        fill="#FF5443"
                      />
                    </svg>
                  </li>
                  <li class="testimonials__slide-rating-item">
                    <svg
                      width="16"
                      height="14"
                      viewBox="0 0 16 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8 0L9.66306 5.11839H15.0449L10.6909 8.28173L12.354 13.4001L8 10.2368L3.64603 13.4001L5.3091 8.28173L0.955135 5.11839H6.33693L8 0Z"
                        fill="#FF5443"
                      />
                    </svg>
                  </li>
                  <li class="testimonials__slide-rating-item">
                    <svg
                      width="16"
                      height="14"
                      viewBox="0 0 16 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8 0L9.66306 5.11839H15.0449L10.6909 8.28173L12.354 13.4001L8 10.2368L3.64603 13.4001L5.3091 8.28173L0.955135 5.11839H6.33693L8 0Z"
                        fill="#FF5443"
                      />
                    </svg>
                  </li>
                </ul>
              </div>
              <p class="testimonials__slide-text">
                Бутсы топовые и очень красивые мне понравились 
              </p>
              <p class="testimonials__slide-author">
                <img
                  src="./assets/content/icons/testi-author-icon.svg"
                  alt=""
                />
                <span class="testimonials__slide-author-name">Антон А.</span>
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testimonials__slide-inner">
              <div class="testimonials__slide-header">
                <div class="testimonials__slide-image-box">
                  <img
                    src="./assets/content/images/testi-item-1.jpg"
                    width="50"
                    height="50"
                    alt=""
                  />
                </div>
                <h4 class="testimonials__slide-title">
                  Футбольные бутсы Nike Phantom GX Luna
                </h4>
              </div>
              <div class="testimonials__slide-rating">
                <ul class="testimonials__slide-rating-list">
                  <li class="testimonials__slide-rating-item">
                    <svg
                      width="16"
                      height="14"
                      viewBox="0 0 16 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8 0L9.66306 5.11839H15.0449L10.6909 8.28173L12.354 13.4001L8 10.2368L3.64603 13.4001L5.3091 8.28173L0.955135 5.11839H6.33693L8 0Z"
                        fill="#FF5443"
                      />
                    </svg>
                  </li>
                  <li class="testimonials__slide-rating-item">
                    <svg
                      width="16"
                      height="14"
                      viewBox="0 0 16 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8 0L9.66306 5.11839H15.0449L10.6909 8.28173L12.354 13.4001L8 10.2368L3.64603 13.4001L5.3091 8.28173L0.955135 5.11839H6.33693L8 0Z"
                        fill="#FF5443"
                      />
                    </svg>
                  </li>
                  <li class="testimonials__slide-rating-item">
                    <svg
                      width="16"
                      height="14"
                      viewBox="0 0 16 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8 0L9.66306 5.11839H15.0449L10.6909 8.28173L12.354 13.4001L8 10.2368L3.64603 13.4001L5.3091 8.28173L0.955135 5.11839H6.33693L8 0Z"
                        fill="#FF5443"
                      />
                    </svg>
                  </li>
                  <li class="testimonials__slide-rating-item">
                    <svg
                      width="16"
                      height="14"
                      viewBox="0 0 16 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8 0L9.66306 5.11839H15.0449L10.6909 8.28173L12.354 13.4001L8 10.2368L3.64603 13.4001L5.3091 8.28173L0.955135 5.11839H6.33693L8 0Z"
                        fill="#FF5443"
                      />
                    </svg>
                  </li>
                  <li class="testimonials__slide-rating-item">
                    <svg
                      width="16"
                      height="14"
                      viewBox="0 0 16 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8 0L9.66306 5.11839H15.0449L10.6909 8.28173L12.354 13.4001L8 10.2368L3.64603 13.4001L5.3091 8.28173L0.955135 5.11839H6.33693L8 0Z"
                        fill="#FF5443"
                      />
                    </svg>
                  </li>
                </ul>
              </div>
              <p class="testimonials__slide-text">
                Бутсы топовые и очень красивые мне понравились 
              </p>
              <p class="testimonials__slide-author">
                <img
                  src="./assets/content/icons/testi-author-icon.svg"
                  alt=""
                />
                <span class="testimonials__slide-author-name">Антон А.</span>
              </p>
            </div>
          </div>
        </div>

        <div class="swiper-scrollbar"></div>
      </div>
    </div>
  </div>
</section>
