<section class="main__ticker ticker">
    <div class="swiper ticker__swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper ticker__swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <div class="ticker__slide-inner">
                <p class="ticker__slide-text title-h1">KULEMIN STORE</p>
            </div>
        </div>
          <div class="swiper-slide">
            <div class="ticker__slide-inner">
                <p class="ticker__slide-text title-h1">KULEMIN STORE</p>
            </div>
        </div>
          <div class="swiper-slide">
            <div class="ticker__slide-inner">
                <p class="ticker__slide-text title-h1">KULEMIN STORE</p>
            </div>
        </div>
          <div class="swiper-slide">
            <div class="ticker__slide-inner">
                <p class="ticker__slide-text title-h1">KULEMIN STORE</p>
            </div>
        </div>
          <div class="swiper-slide">
            <div class="ticker__slide-inner">
                <p class="ticker__slide-text title-h1">KULEMIN STORE</p>
            </div>
        </div>
          <div class="swiper-slide">
            <div class="ticker__slide-inner">
                <p class="ticker__slide-text title-h1">KULEMIN STORE</p>
            </div>
        </div>
          <div class="swiper-slide">
            <div class="ticker__slide-inner">
                <p class="ticker__slide-text title-h1">KULEMIN STORE</p>
            </div>
        </div>
          <div class="swiper-slide">
            <div class="ticker__slide-inner">
                <p class="ticker__slide-text title-h1">KULEMIN STORE</p>
            </div>
        </div>
         
        </div>
</section>