.title {
  &-h1 {
    font-size: 24px;
    @include mobile{
      font-size: 20px;
    }
  }
  &-h2 {
    font-size: 22px;
  }

  &-h3{
    font-size: 13px;
  }
}

.text{
    &-link{
        font-size: 16px;
    }
    &-default{
        font-size: 15px;
        @include mobile{
          font-size: 13px;
        }
    }
}
